.DS_Store
node_modules/
dist/
projects/
test*/
tools/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock

#other test file
bin/cmd.js
bin/index_save.js
lib/create copy.js
lib/create.js
lib/test.js


