@include b(editOracle) {
    @include e(title) {
      font-size: 18px;
      padding-right: 20px;
      display: flex;
      justify-content: space-between;
      color: #666666;
      .help {
        cursor: pointer;
      }
    }
    @include e(main) {
      overflow: auto;
    }
    .el-dialog {
      border-radius: 8px !important;
      .el-dialog__header {
        border-bottom: 1px solid $--border-color;
      }
      .el-dialog__body{
          min-height:200px;
      }
    }
  }
  @include b(oracleSetting) {
    @include e(header) {
      float: right;
      padding-bottom: 10px;
      .btn-icon {
        height: 33px;
      }
    }
  
    @include e(pagination) {
      @include com-pagination;
    }
  }