//自定义变量

// 字体
$--font-size: 14px;
$--font-family: 'MicrosoftYaHei';

// border颜色
$--border-color: #ccc;
// aside背景颜色
$--aside-bg-color: #F6F6F6;
// aside 宽度控制
$--aside-width: 180px;
// header 高度；
@mixin com-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 60px;
  border-bottom:1px solid $--border-color;
  padding: 0 25px;
}
// 分页条位置控制
@mixin com-pagination{
  float: right;
  padding-top:10px;
}



